/* You can add global styles to this file, and also import other style files */

.body {
  background-color: #282c34;
}

.main-page {
  padding: 10px;
}

.badge-info {
  background-color: #282c34;
  color: #cfd8dc;
}
